*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz


/.DS_Store

# directory "assets"
/assets/.DS_Store
/assets/css/.DS_Store
/assets/fonts/.DS_Store
/assets/fonts/flaticon/.DS_Store
/assets/fonts/philisopher/.DS_Store
/assets/fonts/poppins/.DS_Store
/assets/img/.DS_Store
/assets/js/.DS_Store
/assets/js/plugins/.DS_Store

# directory "inc"
/inc/.DS_Store
/inc/customize/.DS_Store
/inc/metaboxes/.DS_Store
/inc/options-theme/.DS_Store
/inc/post-type/.DS_Store
/inc/taxonomys/.DS_Store


# directory "parts"
/parts/.DS_Store
/parts/footer/.DS_Store


# directory "SCSS"
/SCSS/.DS_Store
/SCSS/base/.DS_Store
/SCSS/base/fonts/.DS_Store
/SCSS/components/.DS_Store
/SCSS/elements/.DS_Store
/SCSS/form/.DS_Store
/SCSS/layout/.DS_Store
/SCSS/utilities/.DS_Store
/SCSS/utilities/mixins/.DS_Store
/SCSS/vendor/.DS_Store
/SCSS/vendor/bootstrap/.DS_Store
