// main: ../style.scss


.filter{
  height: 90vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  @include filter-gradient(circle, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));

  .jumbtitle{
    text-align: center;
    font-family: $font-secondary;
    color: $color-light;
    padding-top:10%;

    .logo{
      width: 14em;
      height: auto;
      @include align-items(center);
    }
    h1{
      font-size: 5em;
    }
  }
  .container{
    h1{
      font-size:2em;
    }
  }
  .view-message{
    align-self: center;
    font-size: 1.5em;
  }
}

.info-contact{
  color: $color-light;
  @include flex;
  @include justify-content(center);

  ul{
    @include inline-flex;
    align-self: center;
    position: absolute;
    bottom: 0;
  }

  .item-info-contact{
    @include inline-flex;
    line-height: 2;
    margin-right: 2rem;

    .icons{
      font-size: 1rem;
      margin-right: 15px;
    }

    p{
      font-size: 1rem;
      letter-spacing: 3px;
    }
  }
}

#bg-image{
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .filter{
    height: 100vh;
    @include filter-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1));
  }
}
